<div class="login-frame">
<div class="row"><h2 class="text-center">Log in</h2></div>
<%= form_for(:session, url: login_path) do |f| %>
  <div class="row">
    <div class="medium-12 columns">
        <%= f.label :user %>
      <%= f.text_field :email, placeholder: "email" %>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "password" %>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 column">
       <%= f.submit class: "button radius" %>
    </div>
  </div>
<% end %>
</div>
