<%= form_for(@post) do |f| %>
  <div class="row">
    <%= f.label :title %>
  </div>
  <div class="row">
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div class="row">
    <%= f.label :content %>
  </div>
  <div class="row">
    <%= f.text_area :content, placeholder: "Content", size: "10x20" %>
  </div>
  <div class="row">
      <%= f.submit class: "button round"%>
  </div>
<% end %>
